* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ecf6ff;
    color: #0f172a;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
header {
    background: #ecf6ff;
    border-bottom: 1px solid #e2e8f0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    font-weight: 700;
    font-size: 18px;
}

.btn {
    text-decoration: none;
    background: #0f172a;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
}

/* HERO */
.hero {
    padding: 140px 0 100px;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #475569;
    line-height: 1.6;
}

/* BUTTON */
.btn-primary {
    background: #2563eb;
    border: none;
    padding: 14px 28px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #1d4ed8;
}

/* FEATURES */
.features {
    padding: 100px 0;
    background: #e4f2ff;
}

.features h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    padding: 30px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    padding: 100px 0;
}

.contact h2 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: white;
    border-top: 1px solid #e2e8f0;
    font-size: 14px;
    color: #64748b;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 30px;
    }
}